.bill-button{
  text-transform: capitalize !important;
}
.filt-button{
  background-color: rgb(243, 241, 234) !important;
  text-transform: capitalize !important;
  width:150px !important;
  height:40px !important;
}
.font-bold{
  font-weight: 1000 !important;
  font-size: 17px !important;
}
.bill_bookbg{
  background-color: rgb(241, 205, 233) !important;
}
.voucher_font{
  font-size: 12px !important;
  font-family: 'Poppins', sans-serif !important;
}
.font_book{
  font-size: 14px !important;
  
}.font_book1{
  font-size: 12px !important;
}
.font-tamil{
  font-family: 'Poppins', sans-serif !important;
}

@media print {
  body {
    margin: -10px !important; 
    padding: 0 !important; 
    position: relative !important;
 bottom:20px!important;
  }


  .print-container {
    margin:-10px !important;
    padding: 0 !important;
  
  }
}
